{
  "extends": "eslint-config-airbnb",
  "rules": {
    "implicit-arrow-linebreak": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "import/prefer-default-export": 0,
    "linebreak-style": 0,
    "no-console": 0,
    "object-curly-newline": 0
  }
}
